<% @instance.meetings.each do |meeting| %>
	<div class="row <%= cycle('even-alt', 'odd-alt') %>">
		<div class="three columns">
			<%= link_to meeting.group.name, meeting %>
		</div>
		<div class="nine columns">
			<%= meeting.attendances.size %> marked
		</div>
	</div>
<% end %>
<div class="row">
	<div class="twelve columns">
		<%= link_to new_meeting_path(instance_id: @instance), remote: true, data: {'reveal-id' => "myModal"}, class: 'button small round' do %>
			<%= icon('coffee') %> add meeting
		<% end %>
	</div>
</div>
