<%= four_up_two_up_widget_box("Meeting Information") do %>
	<li class="field">Instance:</li>
	<li><%= link_to @meeting.instance.instance_type.name, @meeting.instance %></li>
	<li class="field">Group:</li>
	<li><%= link_to @meeting.group.name, group_path(@meeting.group) %></li>
	<li class="field">Room:</li>
	<li><%= @meeting.room.name %></li>
	<li class="field">Real Date:</li>
	<li><%= @meeting.real_date %></li>
	<li class="field">Comments:</li>
	<li><%= @meeting.comments %></li>
	<li class="field">Num Marked:</li>
	<li><%= @meeting.num_marked %></li>
<% end  %>
  

<div class="form-actions">
  <%= button_icon 'Index', meetings_path, 'list', nil, 'small round'  %>
  <%= button_icon 'Edit', edit_meeting_path(@meeting), 'edit', nil, 'small round' %>
</div>
<br><br>

<%= widget_box("Meeting Activity") do %>
	<div class="widget-content">
		<div class="twelve columns">
			<div class="six columns">
				<h5 class="subheader"><strong>Currently Checked-In: <%= @meeting.current_attendances.size %></strong></h5>
			</div>
			<div class="six columns">
				<h5 class="subheader"><strong>Meeting History: <%= @meeting.attendances.size %></strong></h5>
			</div>
		</div>
		<% @meeting.attendances.includes(:person).order('people.last_name, people.first_name asc').each do |attendance| %>
			<div class="twelve columns <%= cycle('odd-alt', 'even-alt') %> padded">
				<div class="three columns padded">
					<%= attendance.person.full_name %>
				</div>
				<div class="three columns padded">
					<%= attendance.checkin_time %>
				</div>
				<div class="three columns padded">
					<%= attendance.checkout_time %>
				</div>
				<div class="two columns padded">
					<%= link_to 'checkout', checkout_attendance_path(attendance), class: "button round tiny" unless attendance.checked_out? %>
				</div>	
				<div class="one columns padded">
					<%= link_to 'undo', attendance_path(attendance), method: :delete, confirm: "Are you sure you want to permanently delete this checkin?",
					 					class: "button round tiny" %>
					
				</div>
				
			</div>
		<% end %>
		<div class="twelve columns padded">
			<div class="eight columns padded">
				&nbsp;
			</div>
			<div class="two columns padded">
				<%= link_to "Checkout All", checkout_all_meeting_path(@meeting), class: "button radius small right" %>
			</div>
			<div class="two columns padded">
				<%= link_to "Undo All", undo_all_meeting_path(@meeting), confirm: "Are you sure? This action will destroy all attendance record for this meeting... as if no one ever showed up. Click 'Cancel' to change your mind.", class: "button radius small right" %>
			</div>
		</div>
		&nbsp;
	</div>
<% end %>