<%= four_up_two_up_widget_box("Basic Information") do %>
	<li class="field">Favoritable:</li>
	<li><%= @favorite.favoritable %></li>
	<li class="field">Belongs_to:</li>
	<li><%= @favorite.belongs_to %></li>
<% end  %>
  

<div class="form-actions">
  <%= button_icon 'Index', favorites_path, 'list', nil, 'small round'  %>
  <%= button_icon 'Edit', edit_favorite_path(@favorite), 'edit', nil, 'small round' %>
</div>