<%= simple_form_for @person, :html => {:multipart => true} do |f| %>
  <p>
    <label>Add/Update Image</label>
    <%= image_tag(@person.image_url) if @person.image? %>
    <%= f.input :image, as: :file %>
    <%= f.hidden_field :image_cache %>
  </p>
<%= f.button :submit, class: "button radius" %>
<% end %>