<div class="widget-box">
	<div class="widget-title">
		<h3><i class="icon-user">&nbsp;</i><%= full_name(@person) %></h3>
	</div>
	<div class="widget-content">
		<div class="row">
			<div class="twelve columns">
				The <%= link_to @person.household.name, household_path(@person.household) rescue nil %> Household: <%= household_people(@person) rescue nil %>
			</div>
		</div>
		<div class="row">
			<div class="three columns text-center">
				<div class="twelve columns center"><%= image_tag(@person.image_url, class: 'person-image') %></div><br>
				<div class="twelve columns center">
					<%= button_icon 'edit image', edit_image_person_path(@person), 'camera', nil, 'tiny round' %><br>
				</div>
			</div>
			<div class="nine columns">
				<% if @person.household %>
					<blockquote>
						<p>
							<%= @person.household.address1 %><br>
							<% if ! @person.household.address2.blank? %>
								<%= @person.household.address2 %><br>
							<% end %>
							<%= @person.household.city %>, <%= @person.household.state %>  <%= @person.household.zip %>
						</p>
					</blockquote>
				<% end %>
			</div>
		</div>
	</div>
</div>

<%= four_up_two_up_widget_box("Basic Information") do %>
	<li class="field">Birthdate:</li>
	<li><%= @person.birthdate %></li>
	<li class="field">Household Position:</li>
	<li><%= @person.household_position %></li>
	<li class="field">Age:</li>
	<li><%= age(@person) %></li>
	<li class="field">Default CheckIn Group:</li>
	<li><%= @person.default_group.name rescue nil %></li>
	<li class="field">Gender:</li>
	<li><%= @person.gender %></li>
	<li class="field">Allergies:</li>
	<li><%= @person.allergies %></li>
	<%= render partial: "/shared/admin_box", locals: { object: @person } %>
	<li class="field" style="padding-left: 40px;">
		<%= button_icon 'Edit', edit_person_path(@person), 'edit', nil , "small round" %> &nbsp;
	</li>
<% end %>

<div class="show-for-small">
	<%= widget_box("Quick Contacts") do %>
		<div class="widget-content">
			<% ContactType.quick.each do |ct| %>
				<div class="six columns padded">
					<%= link_to ct.name, new_quick_contacts_path(contact_type_id: ct.id, person_id: @person.id), class: "button round small" %>
				</div>
			<% end %>
			<p><br></p>
		</div>
	<% end %>
</div>


<dl class="tabs">
  <dd class="active"><a href="#communication">Communication</a></dd>
  <dd><a href="#tags">Tags</a></dd>
  <dd><a href="#contacts">Contacts</a></dd>
  <dd><a href="#attendance">Attendance</a></dd>
  <dd><a href="#simple4">Simple Tab 4</a></dd>
</dl>
<ul class="tabs-content">
  <li class="active" id="communicationTab">
	<%= render :partial => 'communication' %>
  </li>
  <li id="tagsTab">
	<div id="tags">
		<%= render :partial => 'tags', locals: {person: @person} %>
	</div>
  </li>
  <li id="contactsTab">
	<div id="contacts">
		<%= render :partial => 'contacts', locals: {person: @person} %>
	</div>
  </li>
  <li id="attendanceTab">
	<div id="contacts">
		<%= render partial: "attendance", locals: { person: @person } %>
	</div>
  </li>
  <li id="simple4Tab">
	<div>This is simple tab 4s content.</div>
  </li>
</ul>

<% content_for :sidebar do -%>
	<%= render partial: "sidebar" %>
<% end -%>