<h3>Listing Follow_ups</h3>

<table class="twelve responsive">
  <thead>
	  <tr>
			<th>Notes</th>
			<th>Contact_id</th>
			<th>Created_by</th>
			<th>Updated_by</th>
			<th>Follow_up_type_id</th>
	    <th></th>
	  </tr>
  </thead>
  <tbody>
	<% @follow_ups.each do |follow_up| %>
	  <tr>
	    <td><%= follow_up.notes %></td>
	    <td><%= follow_up.contact_id %></td>
	    <td><%= follow_up.created_by %></td>
	    <td><%= follow_up.updated_by %></td>
	    <td><%= follow_up.follow_up_type_id %></td>
	    <td><%= link_to '', edit_follow_up_path(follow_up), title: 'edit', class: "general-enclosed foundicon-edit" %>&nbsp;&nbsp;&nbsp;
	    	<%= link_to '', follow_up, method: :delete, data: { confirm: 'Are you sure?' }, title: 'destroy', class: "general-enclosed foundicon-remove" %>
	   </td>
	  </tr>
	<% end %>
  </tbody>
</table>

<br />

<%= link_to "New Follow_up", new_follow_up_path, class: "button radius"  %>
