<h3>Listing My_colors</h3>

<table class="twelve responsive">
  <thead>
	  <tr>
			<th>Name</th>
			<th>Updated_by</th>
			<th>Created_by</th>
	    <th></th>
	  </tr>
  </thead>
  <tbody>
	<% @my_colors.each do |my_color| %>
	  <tr>
	    <td><%= my_color.name %></td>
	    <td><%= my_color.updated_by %></td>
	    <td><%= my_color.created_by %></td>
	    <td><%= link_to '', edit_my_color_path(my_color), title: 'edit', class: "general-enclosed foundicon-edit" %>&nbsp;&nbsp;&nbsp;
	    	<%= link_to '', my_color, method: :delete, data: { confirm: 'Are you sure?' }, title: 'destroy', class: "general-enclosed foundicon-remove" %>
	   </td>
	  </tr>
	<% end %>
  </tbody>
</table>

<br />

<%= link_to "New My_color", new_my_color_path, class: "button radius"  %>
