<h3 class="subheader">Admin Dashboard</h3>
<div class="row">
	<div class="twelve columns">
		<h4 class="subheader">Total Records</h4>
	</div>
</div>

<%= make_row do %>
	<%= make_col "six" do "People Records" end %>
	<%= make_col "six" do "#{@total_people}" end %>
<% end %>

<%= make_row do %>
	<%= make_col "six" do "Household Records" end %>
	<%= make_col "six" do "#{@total_households}" end %>
<% end %>

<h4 class="subheader">Added This Week</h4>
<%= make_row do %>
	<%= make_col "six" do "People Records" end %>
	<%= make_col "six" do "#{@new_people.size}" end %>
<% end %>
<hr></hr>
<% @new_people.each do |person| %>
	<div class="panel radius">
		<div class="four columns">
			<%= link_to person.full_name, person %>
		</div>
		<div class="four columns"><%= person.household.address rescue nil %></div>
		<div class="four columns">
			<%= person.created_by %>
		</div>
		&nbsp;
	</div>
<% end %>

<%= make_row do %>
	<%= make_col "six" do "Household Records" end %>
	<%= make_col "six" do "#{@new_households.size}" end %>
<% end %>
<hr></hr>
<% @new_households.each do |household| %>
	<div class="panel radius">
		<div class="four columns">
			<%= link_to household.name, household %>
		</div>
		<div class="four columns"><%= household.address rescue nil %></div>
		<div class="four columns">
			<%= household.created_by %>
		</div>
		&nbsp;
	</div>
<% end %>

