<h3 class="subheader"><a class="icon-group"></a> Groups Tree</h3>


<ul class="accordion">
	<% Group.roots.each do |group| %>
		<li>
			<div class="title">
				<h4 class="subheader"><%= group_icon(group) %> <%= group.name %></h4>
			</div>
			<div class="content">
				<div id="group-detail">
					<hr>
					<%= render :partial => 'group_details', locals: { group: group } %>
				</div>
				<ul class="accordion">
					<% group.children.each do |group| %>
						<%= render :partial => 'group_branch', locals: { group: group } %>
					<% end %>
				</ul>
			</div>
		</li>
	<% end %>
</ul>

<br><br>
<%= button_icon "New Group", new_group_path, 'group', '', "radius"  %>
<br><br>
