<h4 class="subheader"><a>Create Your SMS Message</a></h4>

<%= simple_form_for(@message)  do |f| %>
	<%= f.error_notification %>
	
	<%= f.input :body %>
	<table class="twelve responsive">
		<thead>
			<tr>
				<th></th>
				<th>Person</th>
				<th>Number</th>
			</tr>
		</thead>
		<tbody>
			<% @enrollments.each_with_index do |r, index| %>
				<tr>
					<td>
						<%= check_box_tag "message[recipients_attributes][#{index}][person_id]", r.person.id, false , disabled: r.person.no_mobile_number? %>
					</td>
					<td>
						<%= r.person.full_name %>
					</td>
					<td><%= r.person.mobile_number %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<%= f.button :submit %>
<% end %>