<h3 class="subheader"><a class="icon-calendar"></a> Listing Events</h3>

<table class="twelve responsive">
  <thead>
	  <tr>
			<th><%= sort_link @q, :name, "Name", data: {no_turbo_link: 'true'} %></th>
			<th>Event Type</th>
			<th><%= sort_link @q, :date, "Date", data: {no_turbo_link: 'true'} %></th>
			<th># Instances</th>
			<th># Meetings</th>
	    <th></th>
	  </tr>
  </thead>
  <tbody>
	<% @events.each do |event| %>
	  <tr>
	    <td><%= link_to event.name, event %></td>
	    <td><%= event.event_type.name %></td>
	    <td><%= event.date %></td>
		<td><%= event.instances.length %></td>
		<td><%= event.meetings.length %></td>
	    <td><%= link_to '', edit_event_path(event), title: 'edit', class: "general-enclosed foundicon-edit" %>&nbsp;&nbsp;&nbsp;
	    	<%= link_to '', event, method: :delete, data: { confirm: 'Are you sure?' }, title: 'destroy', class: "general-enclosed foundicon-remove" %>
	   </td>
	  </tr>
	<% end %>
  </tbody>
</table>

<br />

<%= paginate @events %>

<%= button_icon "New Event", new_event_path, 'calendar', '', "radius"  %>

<br><br>

<% content_for :sidebar do -%>
	<%= search_form_for @q, builder: SimpleForm::FormBuilder do |f| %>
		<%= f.input :range_selector_cont, collection: NamedDateRanges::RANGES, label: "Date Range", prompt: true, selected: @range %>
		<%= f.submit "Search", class: 'button radius small' %>
	<% end %>
<% end -%>
