<div class="panel radius">
	<h5 class="subheader">Marking attendance for <%= @event.event_type.name %>, <%= link_to @event.date.to_s, @event %></h5>
</div>

<table class="twelve responsive">
  <thead>
	  <tr>
		<th>Name</th>
		<% @instances.each do |i| %>
			<th>
				<%= i.instance_type.name %>
			</th>
		<% end %>			
	  </tr>
  </thead>
  <tbody>
	<%= form_tag post_event_path(@event) do %>
		<% @people.each do |person| %>
		  <tr>
		    <td><%= person.full_name %></td>
			<% @instances.each do |instance| %>
				<% @present_people_ids = instance.present_people_ids %>
				<td>
					<%= check_box_tag for_field(instance) +'[]', person.id, @present_people_ids.include?(person.id), disabled: @present_people_ids.include?(person.id) %>
				</td>
			<% end %>		
		  </tr>
		<% end %>
  </tbody>
</table>
	<%= button_tag(type: :submit, class: "button radius") { icon('check') +' Mark Selected' } %>
<% end %>

<% content_for :sidebar do -%>
	<%= search_form_for @search, url: mark_event_path(@event), builder: SimpleForm::FormBuilder do |f| %>
		<%= f.input :full_name_cont, placeholder: 'Last FirstName' %>
		<%= f.input :attendance_status_eq, collection: Person::STATUSES, label: 'Attendance Status' %>
		<%= f.input :enrollments_group_id_eq, collection: Group.all_leaves.order(:name), label: "Enrolled In Group" %>
		<%= f.submit nil, class: 'button radius' %>
	<% end %>
<% end -%>
<br><br>

