<% if resource.phones.empty? %>
	<div class="twelve columns">
		<em>No phones</em>
	</div>
<% else %>
	<% resource.phones.each do |phone| %>
		<div class="twelve columns <%= cycle('odd-alt', 'even-alt') %>">
			<div class="six columns"><%= number_to_phone phone.number, area_code: true %></div>
			<div class="two columns"><%= phone.comm_type.name %></div>
			<div class="four columns"><%= phone.comments %></div>
		</div>
	<% end %>
<% end %>

<% if resource.phones.empty? %>
	<div class="twelve columns">
		<em>No emails</em>
	</div>
<% else %>
	<% resource.emails.each do |email| %>
		<div class="twelve columns <%= cycle('odd-alt', 'even-alt') %>">
			<div class="six columns"><%= email.email %></div>
			<div class="two columns"><%= email.comm_type.name %></div>
			<div class="four columns"><%= email.comments %></div>
		</div>
	<% end %>
<% end %>