<%= four_up_two_up_widget_box("Contact For #{@contact.stamp}") do %>
	<li class="field">Contact Type:</li>
	<li><%= @contact.contact_type.name %></li>
	<li class="field">Attribution:</li>
	<li><%= attribution(@contact) %></li>
	<li class="field">Responsible User:</li>
	<li><%= @contact.responsible_user.full_name %></li>
	<li class="field">Comments:</li>
	<li><%= @contact.comments %></li>
	<li class="field">Status:</li>
	<li><%= @contact.status %></li>
	<li class="field">Age:</li>
	<li>This contact is <%= time_ago_in_words @contact.created_at %> old.</li>
<% end  %>
