<%= form_tag create_multiple_contacts_path(person_id: @person), method: :post do %>
	<div id="form">	
		<% @contacts.each do |contact| %>
			<div class="row <%= cycle('odd', 'even') %> padded">
				<%= simple_fields_for "contacts[#{contact.object_id}]", contact do |f| %>
					<%= f.input :included, as: :boolean, label: contact.contact_type.name, wrapper_html: { class: "three columns padded" } %>
					<%= f.input :responsible_user_id, collection: User.all, label_method: :full_name, prompt: "-- accept default --", wrapper_html: { class: "three columns padded" } %>
					<%= f.input :comments, wrapper_html: { class: "four columns padded" } %>
					<%= f.input :contact_type_id, as: :hidden, input_html: { value: contact.contact_type.id } %>
					<%= f.input :person_id, as: :hidden, input_html: { value: @person.id } %>
				<% end %>
			</div>
		<% end %>
	  <div class="form-actions">
	    <%= submit_tag 'Create Contacts', class: "button radius" %>
	  </div>
	</div>
<% end %>