<h3 class="subheader">Listing Small Groups</h3>

<dl class="sub-nav">
	<dt>Sort:</dt>
	<dd><%= sort_link @q, :name, "Name" %></dd>
	<dd><%= sort_link @q, :inquiry_number, "Inquiry Number" %></dd>
</dl>


<% @small_groups.each do |small_group| %>
	<div class="panel radius">
		<div class="twelve columns">
			<h5 class="subheader"><%= link_to small_group.name, small_group.becomes(Group) %> <%= group_status_label(small_group) %></h5>
		</div>
		<div class='twelve columns'>
			<p>
				<%= small_group.blurb %>
			</p>
		</div>
		<div class="twelve columns">
			<ul class='block-grid two-up'>
				<li>Inquiry Number: <%= small_group.inquiry_number %></li>
				<li>Meets <%= meets(small_group) %></li>
				<li>Location: <%= small_group.location_name %></li>
			</ul>
		</div>
		<div class="twelve columns">
			<%= link_to 'edit', edit_small_group_path(small_group) %>
		</div>
		&nbsp;
	</div>
<% end %>

<%= paginate @small_groups %>

<% content_for :sidebar do -%>
	<%= search_form_for @q, builder: SimpleForm::FormBuilder do |f| %>
		<%= f.input :name_cont, label: "Name" %>
		<%= f.input :weekdays_id_eq_any, collection: Weekday.all, as: :check_boxes, label: "Weekday(s)" %>
		<%= f.input :status_cont, collection: SmallGroup::STATUSES, label: "Status", selected: @status %>
		<%= f.submit "Search", class: 'button small round' %>
	<% end %>
	<hr></hr>
	<h5 class='subheader'>Actions</h5>
	<%= link_to 'Reset Inquiry Numbers', reset_inquiry_numbers_small_groups_path, class: 'button round small' %>
<% end -%>