<%= simple_form_for @contribution do |f| %>  
	<div class="row">
		<div id="contributor-info" class="three columns">
			<%= render :partial => 'contributor_info' %>
		</div>
		<div class="three columns offset-by-three">
			<%= f.input :check_num, label: "Check Number:" %>
			<%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
		</div>
	</div>
	<hr>
	<%= f.simple_fields_for :donations do |donation_form| %>
		<%= render 'donation_fields', f: donation_form %>
	<% end %>

	<div class="twelve columns">
		<span data-no-turbolink><%= link_to_add_fields "Add Donation", f, :donations %></span><br><br>
	</div>
	<%= f.hidden_field :batch_id, value: @batch ? @batch.id : @batch_id %>
		<div class="six columns">
			<span data-no-turbolink><%= f.button :submit, {class: 'button radius'} %></span>
		</div>
		<div class="six columns" style="text-align: right;">
			<%= link_to "Done", batches_url, class: "button radius" %>
		</div>
	&nbsp;
<% end %>
