<%= four_up_two_up_widget_box("Basic Information") do %>
	<li class="field">Name:</li>
	<li><%= @contact_type.name %></li>
	<li class="field">Default Responsible User:</li>
	<li><%= @contact_type.default_responsible_user.full_name %></li>
	<li class="field">Default Responsible Ministry:</li>
	<li><%= @contact_type.default_responsible_ministry_id %></li>
	<li class="field">Multiple-Close?:</li>
	<li><%= check_box_tag 'hi', '1', @contact_type.multiple_close, disabled: true %></li>
	<li class="field">Auto-Notify?:</li>
	<li><%= check_box_tag 'hi', '1', @contact_type.notiphy, disabled: true %></li>
	<li class="field">Quick Contact?:</li>
	<li><%= check_box_tag 'hi', '1', @contact_type.quick_contact, disabled: true %></li>
	<li class="field">Default Follow-Up Type:</li>
	<li><%= @contact_type.default_follow_up_type.name rescue nil %></li>
	
<% end  %>
  

<div class="form-actions">
  <%= button_icon 'Index', contact_types_path, 'list', nil, 'small round'  %>
  <%= button_icon 'Edit', edit_contact_type_path(@contact_type), 'edit', nil, 'small round' %>
</div>