<h3>Listing Event Types</h3>

<table class="twelve responsive">
  <thead>
	  <tr>
		<th>Name</th>
		<th>Auto-Instance Types</th>
	    <th></th>
	  </tr>
  </thead>
  <tbody>
	<% @event_types.each do |event_type| %>
	  <tr>
	    <td><%= link_to event_type.name, event_type_path(event_type) %></td>
		<td><%= raw event_type.instance_types.collect {|i| link_to(i.name, i)}.to_sentence %></td>
	    <td><%= link_to '', edit_event_type_path(event_type), title: 'edit', class: "general-enclosed foundicon-edit" %>&nbsp;&nbsp;&nbsp;
	    	<%= link_to '', event_type, method: :delete, data: { confirm: 'Are you sure?' }, title: 'destroy', class: "general-enclosed foundicon-remove" %>
	   </td>
	  </tr>
	<% end %>
  </tbody>
</table>

<br />

<%= link_to "New Event Type", new_event_type_path, class: "button radius"  %>
