<%= four_up_two_up_widget_box("Basic Information") do %>
	<li class="field">Name:</li>
	<li><%= @interjection.name %></li>
	<li class="field">Updated_by:</li>
	<li><%= @interjection.updated_by %></li>
	<li class="field">Created_by:</li>
	<li><%= @interjection.created_by %></li>
<% end  %>
  

<div class="form-actions">
  <%= button_icon 'Index', interjections_path, 'list', nil, 'small round'  %>
  <%= button_icon 'Edit', edit_interjection_path(@interjection), 'edit', nil, 'small round' %>
</div>