<h3 class="subheader">Administrating Groups</h3>

<dl class="sub-nav">
	<dt>Sort:</dt>
	<dd><%= sort_link @q, :name, "Name" %></dd>
	<dd><%= sort_link @q, :type, "Type" %></dd>
</dl>

<% @groups.each do |group| %>
	<div class="panel radius">
		<h5 class="subheader"><%= group_icon(group) %> <%= group.name %></h5>
		<div class="row">
			<div class="two columns">
				<%= group.class %>
			</div>
			<div class="ten columns">
				<div class="eight columns">
					<%= form_tag convert_admin_group_path(group), method: :get do %>
						<%= select_tag :klass, options_for_select(Group::TYPES), include_blank: true %> 
				</div>
				<div class="four columns">
					<%= submit_tag 'Convert' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>

<br>

<%= paginate @groups %>

<% content_for :sidebar do -%>
	<%= render :partial => "sidebar" %>
<% end -%>