<%= simple_form_for(@organization) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<%= f.input :name, placeholder: "Organization Name" %>
	<%= field_set_tag 'Address' do %>
		<%= f.input :address1 %>
		<%= f.input :address2 %>
		<div class="row">
			<%= f.input :city, wrapper_html: {class: "eight columns"} %>
			<%= f.input :state, wrapper_html: {class: "two columns"} %>
			<%= f.input :zip, wrapper_html: {class: "two columns"} %>
		</div>
	<% end %>
	
	<%= f.simple_fields_for :associates do |associate_form| %>
		<%= render 'associate_fields', f: associate_form %>
	<% end %>
	
	<%= link_to_add_fields "Add Associate", f, :associates %><br><br>
	
	<%= f.simple_fields_for :phones do |phone_form| %>
		<%= render 'phone_fields', f: phone_form %>
	<% end %>
	
	<%= link_to_add_fields "Add Phone", f, :phones %><br><br>
	
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
