<%= four_up_two_up_widget_box("Basic Information") do %>
	<li class="field">Name:</li>
	<li><%= @fund.name %></li>
	<li class="field"> </li>
	<li> </li>
	<%= render partial: "/shared/admin_box", locals: { object: @fund } %>
<% end  %>
  

<div class="form-actions">
  <%= button_icon 'Index', funds_path, 'list', nil, 'small round'  %>
  <%= button_icon 'Edit', edit_fund_path(@fund), 'edit', nil, 'small round' %>
</div>