<%= four_up_two_up_widget_box("Basic Information") do %>
	<li class="field">Name:</li>
	<li><%= @smart_group.name %></li>
	<li class="field">Definition:</li>
	<li><%= @smart_group.definition %></li>
	<li class="field"># People Found:</li>
	<li><%= @smart_group.number_found %></li>
<% end  %>

<%= field_set_tag "Actions" do %>
	<div data-no-turbolink class="row">
		<div class="two columns">
			<%= link_icon 'export people', export_smart_group_path(@smart_group), 'user', "2" %>
		</div>
		<div class="two columns">
			<%= link_icon 'export households', export_by_household_smart_group_path(@smart_group), 'home', "2" %>
		</div>
		<div class="two columns">
			<%= link_icon 'print pdf', smart_group_path(@smart_group, format: 'pdf'), 'print', "2" %>
		</div>
		<div class="two columns">
			<%= link_icon 'sms', sms_smart_group_path(@smart_group), 'comment', "2" %>
		</div>
		<div class="two columns">
			<%= link_icon 'mass contact', mass_contact_smart_group_path(@smart_group), 'magnet', "2" %>
		</div>
		
		
	</div>
<% end %>

<%= field_set_tag "This Smart Group Finds People..." do %>
	<% @smart_group.smart_group_rules.each do |rule| %>
		<div>
			<%= to_sentence(rule) %>
		</div>
	<% end %>
<% end %>

<div class="form-actions">
  <%= button_icon 'Index', smart_groups_path, 'list', nil, 'small round'  %>
  <%= button_icon 'Edit', edit_smart_group_path(@smart_group), 'edit', nil, 'small round' %>
</div>