<%= render :partial => 'print_all_parent_receipts', locals: { attendances: @attendances } %>
<%= render :partial => 'print_all_teacher_copies', locals: { attendances: @attendances } %>
<%= render :partial => 'print_all_teacher_copies_allergies', locals: { attendances: @attendances } %>
<%= render :partial => 'print_all_child_stickers', locals: { attendances: @attendances } %>
<%= render :partial => 'print_all_child_stickers_allergies', locals: { attendances: @attendances } %>

// --- you need this...
// $("body").append("<div id='stickers' style='display:none;'></div>");
// $("#stickers").append("<%= j render partial: 'custom_child_stickers', locals: { attendances: @attendances} %>");
// 
// var thePopup = window.open( '', "Stickers", "menubar=0,location=0,height=700,width=700" );
// thePopup.document.open("text/html");

// --- you don't need this...
// thePopup.document.write(
//     '<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">'+
//     '<html><head>'+
//     '  <link rel="stylesheet" href="styles/style.css">'+
//     '</head><body>'+
//     '</body></html>'+
// );

// --- you need this...
// thePopup.document.write('<html><head><link href="/stylesheets/checkin.css" media="all" rel="Stylesheet" type="text/css" /></head><body style="width:100%;text-align:center;top-margin:0px;"></body></html>');
// thePopup.document.close();
// $('#stickers').clone().appendTo( thePopup.document.body ).show();
// thePopup.print();
// thePopup.close();

//--- you need this...
// $("#stickers").html("");


<% if @referrer == "/checkin/self" %>
	$("#search_text").html("<%= j render partial: 'search_text' %>");
	$("#search_choice").html("<%= j render partial: 'search_choice' %>");
	$("#pad_area").html("<%= j render partial: @pad %>");
	$("#results_area").html("");
<% else %>
	<% logger.info " ------- referrer is NOT /checkin/self" %>
	$("#instance-overview").html("<%= j render 'instance_overview', instance: @instance %>");
	$("#checkin-search-form")[0].reset();
	$("#results").html("<%= j render partial: 'search_results' %>");
<% end %>

$('#messages').html("<%= j render partial: 'layouts/messages' %>");

<% flash.discard %>
$('#messages').delay(5000).fadeOut();
$('#messages').show();

$("#the_last_name_button").bind("click", function() {
	var data = {'search_choice' : 'last_name'};
	var url = '/checkin/search_choice';
	$.get(url, data, function(html) {
		$("#property_operator").html(html);
	});
});

$("#the_phone_number_last_4_button").bind("click", function() {
	var data = {'search_choice' : 'phone_number'};
	var url = '/checkin/search_choice';
	$.get(url, data, function(html) {
		$("#property_operator").html(html);
	});
});