<div class="panel radius <%= current_user.current_instance_preference? ? 'alert-panel' : '' %>">
	<% if current_user.current_instance_preference? %>
		<% @instance = Instance.find(current_user.preferences[:fav_instance_id]) %>
		<h5 class="subheader">Currently Checking-In to <%= @instance.event.name %>, <%= link_to @instance.instance_type.name, instance_path(@instance) %></h5>
	<% elsif Instance.current %>
		<h5 class="subheader">Currently Checking-In to <%= Instance.current.event.name %>, <%= link_to Instance.current.instance_type.name, instance_path(Instance.current) %></h5>
	<% else %>
		<h5 class="subheader">There is no service instance to check people into. Please create a new event.</h5>
	<% end %>
	<% if current_user.current_instance_preference?	%>
		<%= link_to 'clear override', clear_fav_instance_path %>
	<% else %>
		<%= link_to 'override', edit_fav_instance_path %>
	<% end %>
</div>

<% if Instance.current %>
	<div class="row">
			<%= form_tag checkin_search_path, method: :get, remote: true, id: "checkin-search-form" do %>
				<div class="eight columns">
					<%= text_field :search, :q, placeholder: "Last Name or Last 4 of Phone" %>
				</div>
				<div class="four columns">
					<%= submit_tag "Search", class: "button round small" %>
				</div>
			<% end %>
	</div>

	<div class="row">
		<div class="twelve columns">
			<%= form_tag checkin_selected_checkin_index_path, class: "custom", remote: true do %>
			<div id="results">
				<%= render :partial => 'search_results' %>
			</div>
			<%= button_tag(:type => 'submit', class: "button radius") do %>
				<i class="icon-check"></i> Checkin Selected
			<% end %>
		<% end %>
		</div>
	</div>

	<% content_for :sidebar do -%>
		<div id="instance-overview">
			<%= render :partial => 'instance_overview' %>
		</div>
	<% end -%>

<% end %>
