<nav class="top-bar contain-to-grid">
  <ul>
    <li class="name"><h1><a href="#">Revolution</a></h1></li>
    <li class="toggle-topbar"><a href="#"></a></li>
  </ul>

  <section>
    <ul class="left">
		<% if user_signed_in? %>
		<li class="divider"></li>
		<li class="has-dropdown">
			<a class="active" href="#">People</a>
			<ul class="dropdown">
				<li><%= link_icon "Households", households_url, 'home', nil %></li>
			</ul>
		</li>
		<li class="divider"></li>
        <li class="has-dropdown"><a href="#">Groups</a>
			<ul class="dropdown">
				<li><%= link_icon "Groups", groups_url, 'group', nil %></li>
			</ul>
		</li>
		<li class="divider"></li>
        <li class="has-dropdown"><a href="#">Events</a>
			<ul class="dropdown">
				<li><%= link_icon "Events", events_url, 'calendar', nil %></li>
				<li><%= link_icon "Check-In", checkin_index_url, 'check', nil %></li>
			</ul>
		</li>
		<li class="divider"></li>
        <li class="has-dropdown"><a href="#">Admin</a>
			<ul class="dropdown">
				<li><%= link_to "Rooms", rooms_url %></li>
				<li><%= link_to "Event Types", event_types_url %></li>
				<li><%= link_to "Instance Types", instance_types_url %></li>
			</ul>
		</li>
		<li class="divider"></li>
        <li class="has-dropdown"><a href="#">Account</a>
			<ul class="dropdown">
				<% if user_signed_in? %>
				<li><%= link_to "Sign Out " + current_user.login, destroy_user_session_path, method: :delete %></li>
				<li><%= link_to "Edit", edit_user_registration_path %></li>
				<% end %>
			</ul>
		</li>
		<% end %>
    </ul>

    <ul class="right">
		<% if user_signed_in? %>
	    <li class="search">
			<%= form_tag do_search_url, :method => :get, :remote => true do %>
				<%= text_field_tag :q, nil, :class => 'search-query', :type => "search", :placeholder => 'Person, Household, Group' %>
			<% end %>
			<div id="results-area" style="position:relative;z-index:1000;">
			
			</div>
	    </li>
		<% end %>
    </ul>
  </section>
</nav>
