<div class="widget-box">
	<div class="widget-title">
		<h3>
			<i class="icon-home"></i>
			The <%= @household.name %> Household
		</h3>
	</div>
	<div class="widget-content">
		<div class="row">
			<div class="twelve columns">
				<%= household_list(@household) %>
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<blockquote>
					<p>
						<%= @household.address1 %><br>
						<% if ! @household.address2.blank? %>
						<%= @household.address2 %><br>
						<% end %>
						<%= @household.city %>, <%= @household.state %>  <%= @household.zip %>
					</p>
				</blockquote>
				<div class="row">
					<div class="two columns">
						<%= link_to 'Show On Map', map_household_path(@household), data: {no_turbolink: true}, class: 'button round tiny' if @household.geocoded? %>
					</div>
					<div class="two columns">
						<%= button_icon 'add person', new_person_path(household_id: @household), 'plus', nil, 'round tiny success' %>
					</div>
					<div class="two columns">
						<%= button_icon 'add contact', new_contact_path(contactable_id: @household, contactable_type: 'Household'), 'plus', nil, 'round tiny success' %>
					</div>
					<div class="six columns">
						&nbsp;
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<dl class="tabs">
  <dd class="active"><a href="#communication">Communication</a></dd>
  <dd><a href="#contacts">Contacts</a></dd>
</dl>
<ul class="tabs-content">
  <li class="active" id="communicationTab">
	<%= render :partial => 'communication', locals: { household: @household } %>
  </li>
  <li id="contactsTab">
	<div id="contacts">
		<%= render :partial => 'contacts', locals: { household: @household } %>
	</div>
  </li>
</ul>

<%= button_icon 'Edit', edit_household_path(@household), 'edit', nil, "small round" %> &nbsp;
<%= button_icon 'Index', households_path, 'list', nil, "small round" %><br><br>